<li id="comment_id-<%= comment._id %>">

    <div id="comment-username-delete">
        <div id="comments-username"> 
            <img src="../images/user_icon.png" alt="A">
            <div id="comment-username-text">
                <p>
                    <h4>
                        <%= comment.user.name %>
                    </h4>
                </p>
            </div>
            
            
        </div>
        <div id="comment-delete-btn">
            <% if(locals.user && locals.user.id==comment.user.id) { %>
            <a href="/comments/destroy/<%= comment.id %>"><img src="../images/delete_icon.png" alt="A"></a>
            <% } %>
        </div>
    </div>


    <div id="comment-content-like">

        <div id="comment-content"> 
            <p>
               
                <%= comment.content %>
                
            </p>
            
        </div>
        <div id="comment-like">
            <% if (locals.user){ %>
                <a class="toggle-like-button" data-likes="<%= comment.likes.length %>" href="/likes/toggle/?id=<%=comment._id%>&type=Comment">
                    <img src="../images/like-icon.png" alt="A"> <%= comment.likes.length %>
                </a>

            <% }else{ %>
                <%= comment.likes.length %> Likes
            <% } %>
        </div>

    </div>



</li>

