    <li id="post_id-<%= post._id %> ">
        <div id="post-username-delete">
            <div id="username"> 
                <img src="../images/user_icon.png" alt="A">
                <p>
                    <h3>
                        <%= post.user.name %>
                    </h3>
                </p>
                
            </div>
            <div id="delete-btn">
                <% if(locals.user && locals.user.id==post.user.id) { %>
                <a href="/posts/destroy/<%= post._id %>"><img src="../images/delete_icon.png" alt="A"></a>
                <% } %>
            </div>
        </div>
        <div id="post-content-like">

            <div id="post-content"> 
                <p>
                   
                    <%= post.content %>
                    
                </p>
                
            </div>
            <div id="post-like">
                <% if (locals.user){ %>
                    <a class="toggle-like-button" data-likes="<%= post.likes.length %>" href="/likes/toggle/?id=<%=post._id%>&type=Post">
                        <img src="../images/like-icon.png" alt="A"> <%= post.likes.length %>
                    </a>

                <% }else{ %>
                    <%= post.likes.length %> Likes
                <% } %>
            </div>

        </div>
        <div id="post-comments1">
            <div id="post-comment">
                <% if(locals.user){ %>
                    <form action="/comments/create" method="post">
                        <input type="text" name="content" placeholder="Type Here to Add Comment" required>
                        <input type="hidden" name="post" value="<%= post._id %>">
                        <input type="submit" value="Comment">
                    </form>
                   <% } %>
            </div>


            <div id="post-comments-list">
                <p id="comm">
                    Comments:
                </p>

                <ul id="commentsLists-<%= post._id %> ">
                    
                    <% for (comment of post.comments){ %>
                        <%- include('_comment') -%>
                    <% } %>
                </ul>
            </div>
            

        </div>
        
            
        
</li>