<%- include('layout'); %>
<div id="main-content">

    <div id="left-side">
        <% if(locals.user){ %>
        <div id="top-left">
            <div>
                
                    <form action="/posts/create" id="new-post-form" method="post">
                        <textarea name="content" cols="30" rows="3" placeholder="Type Here" required></textarea>
                        <input type="submit" value="Post">
                    </form>
                   
            </div>
        </div>
        <% } %>

        <div id="bottom-left">
            <ul id="post-list">
                <% for (post of posts){ %>
                <%- include('_post') -%>
                <% } %>
            </ul>
        </div>

    </div>
    <div id="right-side">
        <div id="friends-list">
            
            <% if(locals.user){ %>
            <div id="navLinks">
                <ul>
                    <li><a class="menulink" href="/friend">Friends</a></li>
                    <li><a class="menulink" href="/request">Requests</a></li>
                    <li><a class="menulink" href="/sent">Sent</a></li>
                </ul>   
            </div>
            
            <% if(userType == "friend"){ %>   
            <div id="friend-container">
                <div class="friendType"> <span> Friends </span> </div>
                <% for (friend of friendList.friendships){ %>
                    <div class="friendship">
                        <% if (locals.user._id.equals(friend.from_user._id)) { %>
                            <p>
                                <%= friend.to_user.name %>
                            </p>
                            
                            
                        <% } 
                        else { %>
                            <p>
                                <%= friend.from_user.name %>
                            </p>
                        

                        <% } %>
                        <a href="friend/remove/<%= friend._id %>"> 
                            <button>
                                Remove
                            </button>
                             
                        </a>
                        

                    </div>
                    
                    <% } %>

            </div>

            <% } else if(userType=="received") { %>
            <div id="received-container">
                <div class="friendType"> <span> Friend Requests </span> </div>
                <% for (friend of friendList.received_friend_request){ %>
                    <div class="friendship">
                        <p>
                            <%= friend.from_user.name %>
                        </p>
                        
                        <a href="friend/reject/<%= friend._id %>"> <button>Reject</button> </a>
                        <a href="friend/accept/<%= friend._id %>"> <button>Accept</button> </a>

                        

                    </div>
                    
                    <% } %>

            </div>
            <% } else if(userType=="sent") { %>
            <div id="sent-container">
                <div class="friendType"> <span> Request Sent </span></div>
                <% for (friend of friendList.sent_friend_request){ %>
                    <div class="friendship">
                        <p>
                            <%= friend.to_user.name%>
                        </p>
                        
                        <a href="friend/withdraw/<%= friend._id %>">
                            <button>
                                Withdraw 
                            </button>
                        </a>
                        

                    </div>
                    
                <% } %>

            </div>
            <% } %>



            <% } %> 
            
        </div>

        <div id="users-list">
            <p>
                <h3>
                    Users
                </h3>
                
                <% for (user of userList){ %>
                    <div id="users">
                        <p>
                            <%= user.name %>
                        </p>
                        

                        <a href="/users/profile/<%= user._id %>">
                            <button>
                                view profile
                            </button>
                        </a>
                    </div>
                    
                    
                <% } %>


            </p>
        </div>
    </div>

</div>


    <div>
        <%- include('_footer'); %>
    </div>
    
    <script src="/js/home_post_comments.js" ></script>
    <script src="/js/home_posts.js"></script>

    <script src="/js/toggle_likes.js"></script>
    <script>
        $('.toggle-like-button').each(function(){
            let self = this;
            let toggleLike = new ToggleLike(self);
        });
    </script>
    
